
.examination-card-body {
    min-height: 13rem;
    position: relative;
}

.badge-custom {
    background-color: $soft-success-color;
}

.exam-title-p {
    text-underline-offset: 0.5rem;
    &:hover {
        text-decoration: underline;
    }
}
