.home-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

    .home-main-inner {
        margin-top: 10rem;
        min-height: 10rem;
    }

    h1.title-iai,
    h1.title-passei {
        font-size: 15rem;
        display: inline;
    }

    h1, h5 {
        font-weight: 300;
    }
}

.fade-in {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.fade-in.show {
    opacity: 1;
}

.title-iai,
.title-passei {
    font-weight: 300;
    font-family: 'Aldrich', sans-serif;
}

.title-iai {
    opacity: 0.9;
}

.title-passei {
    color: $secondary-bootstrap-color;
    opacity: 0.5;
}

.home-subtitle {
    font-weight: 300;
    color: $secondary-bootstrap-color;
    opacity: 0.4;
    font-size: 150%;
    font-family: 'Aldrich', sans-serif;
}
