@import '../_variables/variables';

.card {
    background-color: transparent;
    border: none !important;

    input {
        border: none;
        border-bottom: 2px solid $default-light-background;
        border-radius: 0;

        &[type="checkbox"] {
            border: 2px solid $default-light-background;
            border-radius: 0.25rem;
        }
    }
}
