// CORES DE BACKGROUND

$default-light-background: #e6e6e6;
$default-dark-background: #212529;

$secondary-bootstrap-color: #6c757d;

$primary-bootstrap-color: #007bff;
$soft-danger-color: #EE9090;
$danger-color: #dc3545;
$soft-success-color: #78D178;
$success-color: #28a745;
$warning-color: #ffc107;


// BOX-SHADOW

$default-box-shadow-color: #333;
$hover-box-shadow-color: #666;
$default-box-shadow: 1px 1px 3px $default-box-shadow-color;
$hover-box-shadow: 1px 1px 3px $hover-box-shadow-color;
