// CORES DE BACKGROUND

$default-light-background: #e6e6e6;
$default-dark-background: #212529;


// BOX-SHADOW

$default-box-shadow-color: #333;
$default-box-shadow: 1px 1px 3px $default-box-shadow-color;
